{% extends "base_profiles.html" %}

{% block title %}{{ profile_user.username }}{% endblock %}

{% block content-title %}{{ profile_user.username }}{% endblock %}

{% block content %}
<div class="userprofile">
    <div class="big-list">
        {% if edit_form %}
            <div class="floating-profile-edit">
                <h2>Edit</h2>
                Would you like to <a href="{% url profile_change_password %}">change your password?</a>
                <br /><br />
                <div class="form">
                    <h2>Edit profile</h2>
                    <form action="{% url profile_edit %}" method="post">
                        <table>
                            {{ edit_form.as_table }}
                            <tr>
                                <td colspan=2>
                                    <input style="width: 256px;" type="submit" value="Change">
                                </td>
                            </tr>
                        </table>
                            
                    </form>
                </div>
            </div>
        {% endif %}
        <h2>Personal Information</h2>
        <table>
            <tr>
                <th>First name:</th>
                <td>{{ profile_user.first_name }}</td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td>{{ profile_user.last_name }}</td>
            </tr>
            <tr>
                <th>Email address:</th>
                <td><a href="mailto:{{ profile_user.email }}">{{ profile_user.email }}</a></td>
            </tr>
        </table>
        <br />
        <h2>Stories {{ profile_user}}'s contributed to</h2>
        <ul>
        {% for story in stories %}
            <li><a href="{% url story_detail slug=story.slug %}">{{ story.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
