html, body {
    margin-top: 0px;
    padding-top: 0px;
    height: 100%;
}
body {
    font-family: Arial;
    background-color: #2e3436
}

.header {
    top: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #f57900;
    padding: 12px;
}
.header img {
    vertical-align: text-bottom;
}
.header h1 {
    display: inline;
    margin: 0;
    color: #fff;
    font-family: helvetica;
    padding-left: 48px;
    font-size: 48pt;
}

.top-bar {
/*    background: #fcaf3e;*/
/*    background: #f57900;*/
    background: #ce5c00;
    color: #fff;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0 8px 0;
}
.top-bar a,.top-bar a:visited,.top-bar a:link,.top-bar a:active {
    color: #fff;
}
.top-bar ul {
    margin: 0;
    padding: 0;
}
.top-bar li {
    display: inline;
    padding-left: 12px;
}

.content-frame {
    width: 80%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border: solid #888a85 1px;
    background-color: #eeeeec;
    padding: 0 12px 12px 12px;
}
.content-frame h1 {
    display: inline-block;
    border: solid #888a85 1px;
    background-color: #fff;
    margin-top: -0.5em;
    margin-left: 1em;
    padding: 0.25em;
    width: auto;
}

input.openid {
    background: url("/openid/logo.gif") no-repeat; 
    background-position: 0 50%;
    padding-left: 16px;
}
