html, body {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}
body {
    font-family: Arial;
    background-color: #2e3436;
    font-size: 16pt;
}

input {
    background-color: #888a85;
    color: #fff;
    border: solid 1px #2e3436;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 4px;
    background: #f57900;
}
.header a{
    text-decoration: none;
    color: #fff;
}
.header img {
    vertical-align: middle;
    border: none;
}
.header h1 {
    display: inline;
    margin: 0;
    color: #fff;
    font-family: helvetica;
    padding-left: 48px;
    font-size: 36pt;
}

.error, .errorlist {
    list-style: none;
    display: block;
    background-color: #ef2929;
    border: solid 2px #cc0000;
    border-top-width: 8px;
    padding: 0.25em;
}
.error a:active, .error a:link, .error a:visited, .error a {
    color: #000;
}

th {
    vertical-align: top;
}
td {
    padding: 4px;
}

.top-wrapper {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}
.top-wrapper h1 {
    display: inline-block;
    position: relative;
    top: 1em;
    z-index: 5;
    color: #fff;
    background-color: #555753;
    margin: 0;
    padding: 0.25em;
    padding-right: 1.5em;
    width: auto;
}
.top-wrapper h1 .right-header {
/*    border: solid #babdb6 1px;*/
    padding-right: 0.5em;
    margin-left: 0;
}
.top-bar {
    background: #ce5c00;
    color: #fff;
    display: block;
    width: 100%;
    padding: 8px 0 8px 0;
    text-align: center;
}
.top-bar a,.top-bar a:visited,.top-bar a:link,.top-bar a:active {
    color: #fff;
}
.top-bar ul {
    margin: 0;
    padding: 0;
}
.top-bar li {
    display: inline;
    padding-left: 12px;
}
.top-bar li .separator {
    margin-top: 4px;
}

.content-wrapper {
    display: block;
    width: 100%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
/*    margin-top: 2em;*/
    padding: 0;
    position: relative;
}

.content-frame {
/*    border: solid #babdb6 1px;*/
    color: #fff;
    background-color: #555753;
    padding: 2em 12px 12px 12px;
}
.content-frame a,.content-frame a:link,.content-frame a:active {
    color: #f57900;
}
.content-frame a:visited {
    color: #ce5c00;
}
.content-frame h2 {
    margin: 0.5em;
}

.content-frame-minimized-left {
/*    border: solid #babdb6 1px;*/
    position: absolute;
    left: 0;
    width: 65%;
}
.content-frame-minimized-right {
/*    border: solid #babdb6 1px;*/
    position: absolute;
    right: 0;
    width: 25%;
}

.content-frame-alternate-color {
/*    border: solid #babdb6 1px;*/
    background-color: #204a87;
}
.content-frame-alternate-color h1 {
    background-color: #204a87;
}
    
input.openid {
    background: #fff url("/openid/logo.gif") no-repeat; 
    color: #000;
    background-position: 0 50%;
    padding-left: 16px;
}

.big-list {
/*    width: 70%;*/
}
.big-list .story-entry {
/*    border-left: solid 3px #f57900;*/
    color: #888a85;
    padding-left: 1em;
    text-align: right;
}
.story-entry a {
    text-decoration: none;
}
.big-list h2 {
    color: #f57900;
    margin: 0;
    padding-bottom: 2px;
    border-bottom: solid 2px #f57900;
}
.big-list a:active,.big-list a:hover,.big-list a:link {
    color: #f57900;
}
.big-list a:visited{
    color: #ce5c00;
}
.story {
    background-image: url("/static/quote-left.png");
    background-repeat: no-repeat;
    background-position: 8px 0;
    text-indent: 2.5em;
    margin-left: 1em;
    margin-bottom: 1.5em;
    padding: 0.25em;
    text-align: left;
    color: #fff;
}

.story-fragment:hover {
    background-color: #888a85;
/*    border-left: solid 3px #f57900;*/
/*    border-right: solid 3px #f57900;*/
/*    border-bottom: solid 3px #f57900;*/
}

.form {
    width: 500px;
    background-color: #f57900;
    padding: 0.25em;
    color: #000;
}
.form h2 {
    margin: 0 0 0.2em 0;
    color: #000;
    border-bottom: solid 1px #000;
}

.floating-profile-edit {
    float: right;
}
