{% extends "base.html" %}

{% block title %}Stories{% endblock %}

{# Override the default template #}

{% block title-wrapper %}
    <h1 class="right-header">{% block content-right-title %}Authors{% endblock %}</h1>
    <h1>{% block content-title %}Test Title{% endblock %}</h1>
{% endblock %}

{% block content-wrapper %}
    <table><tr>
    <td width="75%" valign="top">
    <div class="content-frame">
        {% block content %}
        {% endblock %}
    </div>
    </td><td valign="top">
    <div class="content-frame">
        {% block content-right %}
        {% endblock %}
    </div>
    </td>
    </tr></table>
{% endblock %}

{% comment %}
{% block content-wrapper %}
    <div class="content-frame content-frame-minimized-left">
        {% block content %}
        {% endblock %}
    </div>
    <div class="content-frame content-frame-minimized-right">
        {% block content-right %}
        {% endblock %}
    </div>
{% endblock %}
{% endcomment %}
