{% extends "base.html" %}

{% block title %}New story{% endblock %}
{% block content-title %}New story{% endblock %}

{%block content %}
    <div class="form">
        <form method="post" action="">
            <table>
                {{ story_form.as_table }}
                {{ frag_form.as_table }}
                <tr>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </tr>
        </form>
    </div>

{% endblock %}
