{% extends "base_stories.html" %}

{% block title %}Story list{% endblock %}

{%block stories_content %}

    {% if story_list %}
    
    <h1 class="ui-widget-header">Story list:</h1>
        <div id="story_list">
            <table>
            {% for story in story_list %}
                <tr>
                {# TODO: Change this to ui-state-active for new stories #}
                <td class="ui-state-default ui-corner-left">
                    <h2><a href="{% url story_detail object_id=story.id %}">{{story.name}}</a></h2>
                </td>
                <td class="brieftext ui-widget-content ui-corner-right">
                    {{ story.brieftext }}
                </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
    <br />
    {% if user.is_authenticated %}
        <div class="ui-widget-content ui-corner-all" style="width:500px;">
            <div class="ui-corner-top ui-widget-header">Create a new story</div>
            <form method="post" action="{% url story_create_new %}">
                <table>
                    {{ story_form.as_table }}
                    {{ frag_form.as_table }}
                    <tr>
                        <td>
                            <input type="submit" class="ui-corner-all ui-state-default" value="Add">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    {% endif %}

{% endblock %}
