{% extends "base_stories.html" %}

{% block title %}“{{ story.name }}”{% endblock %}
{% block content-title %}{{story.name}}{%endblock%}
{%block stories_content %}
    <ol>
        {% for fragment in story.fragment_set.all %}
            {# TODO: Re-use the story detail code instead of hardcoding the URL. #}
            <li>
                <ul>
                    <li>Text: {{fragment.text}}</li>
                    <li>Author: {{fragment.author.username}}</li>
                    <li>Date: {{fragment.date|date:"D d M Y"}}</li>
                </ul>
            </li>
        {% endfor %}
    </ol>
    
    {% if user.is_authenticated %}
    <form method="post" action="{% url story_add_fragment slug=story.slug %}">
        {{ form.as_p }}
        <input type="submit" class="ui-corner-all ui-state-default" value="Add">
    </form>
    {% endif %}

{% endblock %}
