{% extends "base_stories.html" %}

{% load humanize %}

{% block title %}Story list{% endblock %}

{% block content-title %}Story List{% endblock %}
{% block content %}    
    <div class="story-list">
        {% if story_list %}
            {% for story in story_list %}
                {# TODO: Change this to ui-state-active for new stories #}
                <div class="story-entry">
                    <h2><a href="{% url story_detail slug=story.slug %}">{{story.name}}</a></h2>
                    <strong>Last updated:</strong>
                    {{ story.last_update_date|naturalday:"F d, Y" }}
                    ({{ story.last_update_date|date:"g:i A"}})
                    <div class="story">
                        {{ story.brieftext }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No stories yet!
        {% endif%}
    </div>
    
    {% if user.is_authenticated %}
        <div class="ui-widget-content ui-corner-all" style="width:500px;">
            <div class="ui-corner-top ui-widget-header">Create a new story</div>
            <form method="post" action="{% url story_create_new %}">
                <table>
                    {{ story_form.as_table }}
                    {{ frag_form.as_table }}
                    <tr>
                        <td>
                            <input type="submit" class="ui-corner-all ui-state-default" value="Add">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    {% endif %}

{% endblock %}

{# Right page #}
{% block content-right-title %}Authors{% endblock %}
{% block content-right %}
<ul>
<li>Bob</li>

<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
<li>Bob</li>
</ul>
{% endblock %}
