{% extends "base_stories.html" %}

{% block title %}Story list{% endblock %}
{% comment %}
{% block javascript %}
$(function() {
		$("#story_list").accordion();
});

{% endblock %}
{% endcomment %}
{%block stories_content %}

    {% if story_list %}
    
    <h1>Story list:</h1>
        <div id="story_list" class="ui-accordion ui-widget ui-helper-reset">
            {% for story in story_list %}
                {# TODO: Re-use the story detail code instead of hardcoding the URL. #}
                <h3><a class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top" href="{% url story_detail object_id=story.id %}">{{story.name}}</a> {{ story.brieftext }}</h3>
                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" >
                    {{ story.brieftext }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="ui-widget-content ui-corner-all" style="width:500px;">
            <div class="ui-corner-top ui-widget-header">Create a new story</div>
            <form method="post" action="{% url story_create_new %}">
                <table>
                    {{ story_form.as_table }}
                    {{ frag_form.as_table }}
                    <tr>
                        <td>
                            <input type="submit" class="ui-corner-all ui-state-default" value="Add">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    {% endif %}

{% endblock %}
