{% extends "base.html" %}

{% load i18n %}

{% block title %}Login{% endblock%}

{% block content %}

    {% if user.is_authenticated %}
        <p class="error"> Hey, {{ user.username }}! This is the login form!
        Did you want to <a href="{% url account_logout %}">log out</a> instead?
        </p>
        
    {% else %}
        Hey, sailor! Log in here:
        {% if form.errors %}
            <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        <form action="{% url account_login %}" method="post">
          <label for="username">User name:</label>
          <input type="text" name="username" value="" id="username">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" id="password">
  
          <input type="submit" value="{% trans "Sign in" %}" />
          <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
        <h1>Or: Sign in with your OpenID</h1>
        <form name="fopenid" action="{% url openid_login %}" method="post">
	        <fieldset>
		        <legend>{% trans "Sign In Using Your OpenID" %}</legend>
                <div class="form-row">
                    <label for="id_openid_identifier">{% trans "OpenID:" %}</label><br />
                    <input id="id_openid_identifier" type="text" class="openid" name="openid_identifier" maxlength="255" />
                </div>
                <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in" %}"></div>

         {% if next %}
	        <input type="hidden" name="next" value="{{ next|escape }}" />
         {% endif %}

	        </fieldset>
        </form>	
    {% endif %}

{% endblock %}
