{% extends "base.html" %}

{% load i18n %}

{% block title %}Login{% endblock%}

{# Turn off the top login bar #}
{% block top-bar %}{% endblock %}

{% block content-title %}Log In{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <p class="error"> Hey, {{ user.username }}! This is the login form!
        Did you want to <a href="{% url account_logout %}">log out</a> instead?
        </p>
        
    {% else %}
        {% if form.errors %}
            <div class="error" style="width: 50%; padding: 12px;">
                Sorry, that's not a valid username or password.
            </div>
        {% endif %}
        <div class="form">
            <h2>Hey, sailor! Log in here:</h2>
            <table>
                <form action="{% url account_login %}" method="post">
                    <tr>
                        <td>
                            <label for="username">User name:</label>
                        </td><td>
                            <input type="text" name="username" value="" id="username">
                        </td>
                    </tr><tr>
                        <td>
                            <label for="password">Password:</label>
                        </td><td>
                            <input type="password" name="password" value="" id="password">
                        </td>
                    </tr><tr>
                        <td>
                            <input type="submit" value="{% trans "Sign in" %}" />
                            <input type="hidden" name="next" value="{{ next|escape }}" />
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <h2>— Or —</h2>
        <div class="form">
            <h2>{% trans "Sign In Using Your OpenID" %}</h2>
            <form name="fopenid" action="{% url openid_login %}" method="post">
                <div class="form-row">
                    <label for="id_openid_identifier">{% trans "OpenID:" %}</label><br />
                    <input id="id_openid_identifier" type="text" class="openid" name="openid_identifier" maxlength="255" />
                </div>
                <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in" %}"></div>

                {% if next %}
                    <input type="hidden" name="next" value="{{ next|escape }}" />
                {% endif %}
            </form>	
        </div>
    {% endif %}

{% endblock %}
