{% extends "base.html" %}

{% block title %}Create a new account{% endblock %}
{% block content-title %}Create a new account{% endblock%}
{% block content %}
    <div class="new_account">
        Would you rather <a href="{% url account_login %}">sign in with OpenID</a> instead?
        <form action="" method="post">
            <table>
                {{ form.as_table }}
                <tr>
                    <td colspan=2>
                        <input style="width: 256px;" type="submit" class="ui-corner-all ui-state-default" value="Create">
                    </td>
                </tr>
            </table>
                
        </form>
    </div>
{% endblock %}

