{# Login info for sidebar #}
{% if user.is_authenticated %}
    <ul>
        <li>Hello, {{ user.username }}!</li>
        <li class="separator">|</li>
        <li><a href="{% url profile_view username=user.username %}">My profile</a></li>
        <li class="separator">|</li>
        <li><a href="{% url account_logout %}">Logout</a></li>
    </ul>
{% else %}
    <form action="{% url account_login %}" method="post">
        <ul>
            <li>
                Log in:&nbsp;
                <input type="text" name="username" value="Username" id="username" size=7>
                &nbsp;
                <input type="password" name="password" value="Pass" id="password" size=7>
                &nbsp;
                <input type="submit" value="login" />
<!--                <input type="hidden" name="next" value="{{ request.path }}" /> -->
            </li>
            <li class="separator">|</li>
            <li>
                <a href="{% url register_new_account %}">Register</a>
            </li>
            <li class="separator">|</li>
            <li>
                <a href="{% url account_login %}">OpenID?</a>
            </li>
        </ul>

    </form>
{% endif %}
